  <div class="app-wrapper">

  	<h1> Register </h1>
  	<div class="content">
  		<form [formGroup]="registerForm" (ngSubmit)="onSubmit($event)">
  			<div class="input-wrapper">

  				<input class="text-name-input" type="text" formControlName="name" placeholder="Name" />

  				<input class="text-name-input" type="number" formControlName="age" placeholder="Age" />

  				<select class="text-name-input" formControlName="job_id">

  					<option [value]="NO_JOB_SELECTED"> ---Select a Job--- </option>

  					<option *ngFor="let job of marsJobs" [value]="job.id" > {{job.name }} </option>
  					
  				</select>
  			</div>
  			<div class="button-wrapper">
  				<button type="submit"> Register </button>
  			</div>
  		</form>
  	</div>
  </div>