  <div class="app-wrapper">

  	<h1> Register {{ colonist.name 	}} - {{ colonist.age }}] </h1>
  	<div class="content">
  		<form>
  			<div class="input-wrapper">
  				<input class="text-name-input" type="text" name="name" placeholder="Name" [(ngModel)]="colonist.name" >
  				<input class="text-name-input" type="number" name="Age" placeholder="Age" [(ngModel)]="colonist.age">
  				<select class="text-name-input" name="Job">
  					<option value="" disabled selected>Select your option</option>
  					<option value="1">Dust Farmer</option>
  					<option value="2">Alien Hunter</option>
  					<option value="3">Battery Tech</option>
  					<option value="4">Yoga Teacher</option>
  					<option value="5">MC Donalds</option>
  				</select>
  			</div>
  			<div class="button-wrapper">
  				<button type="submit"> Register </button>
  			</div>
  		</form>
  	</div>
  </div>